
* {
    margin: 0;
    padding: 0;
}
body {
  min-height: 100vh;
}
.main {
  height:100%;
  margin: 8px;
}

/* hair contains 13, 14, 15 */
.hair1 {
  position: absolute;
  width: 59px;
  height: 35px;
  background: #C8B080;
}
.hair2 {
  position: absolute;
  width: 59px;
  height: 35px;

  background: #C8B080;
}
.hair3 {
  position: absolute;
  width: 59px;
  height: 40px;

  background: #C8B080;
}
.portrait {

}
